<% include ./components/_global-vars %>
<% include ./components/_head %>

<% include ./components/_header %>

<main>
  <div id="jsi-body-inner" class="cs-wrapper"></div>
</main>

<% include ./components/_footer %>
